@import './_variables';

#about{
    padding-top: 5%;
    text-align: center;
    img {
        width: 100px;
        height: 100px;
    }
    p{
        padding-right: 20%;
    }
    #about-img{
        
    }
    #about-content{
        padding-top: 2%;
        padding-left: 15%;
        li{
            font-size: 22px;
        }
    }
}